//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
//npm.pkg.github.com/:_authToken=${SATORI_GH_READONLY_TOKEN}
@hylandsoftware:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org/
