export GH_PACKAGES_READ_ONLY_TOKEN=""
export GITHUB_USERNAME=""
export GITHUB_EMAIL=""
export SATORI_GH_READONLY_TOKEN="$GH_PACKAGES_READ_ONLY_TOKEN"
export NODE_AUTH_TOKEN="$GH_PACKAGES_READ_ONLY_TOKEN"

export MAVEN_USERNAME=""
export MAVEN_PASSWORD=""
export SIGN_PASS=""

export GHCR_PACKS_PAT="$GH_PACKAGES_READ_ONLY_TOKEN"
