[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore
	editor = nano
[commit]
	template = ~/.stCommitMsg
	gpgsign = true
[push]
	autoSetupRemote = true
	default = current
[rerere]
	enabled = false
	autoupdate = true
[gpg]
	program = /opt/homebrew/bin/gpg
[include]
	path = ~/.gitconfig.local
